div {
    width: 300px;
    height: 200px;
    border: 2px solid black;
}

#box {
    background-color: rgb(254, 145, 145);
    display: flex;
    width: 800px;
    height: 800px;
    color: blue;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
}

#one {
    background-color: green;
}

#two {
    background-color: rgb(0, 119, 255);
}

#three {
    background-color: rgb(0, 255, 123);
}

#four {
    background-color: rgb(195, 0, 255);
}

#five {
    background-color: rgb(180, 24, 94);
}

#six {
    background-color: rgb(208, 255, 0);
}
